body {
  font-family: "Montserrat";
  background-color: rgb(18, 28, 38);
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(130px, 130px) 50px 600px 300px minmax(500, 500);
  gap: 2em;
  padding: 15px;
  border-radius: 10px;
}

.grid > div {
  padding: 15px;
  border-radius: 10px;
}

.grid2 {
  display: grid;
  grid-template-columns: auto 1fr;
}
.content1 {
  grid-column: 1/5;
  margin: 0 auto;
  font-size: 500%;
  box-sizing: border-box;
  position: relative;
  color: white;
  text-align: top;
}

.logo {
  background-color: whitesmoke;
  border-radius: 75px;
}

.grid3 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.grid3 > div {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  justify-items: center;
}
.content2 {
  grid-column: 1/5;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  text-align: top;
  text-align: center;
  color: black;
}

.button {
  border: none;
  padding: 5px 10px;
  text-decoration: none;
  display: flexbox;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  color: black;
}

.content3{
  grid-column: 1/5;
  grid-row: 3/4;
  background: url(BannerFreljord.jpg);
  color: white;
  font-style: italic;
  font-size: 400%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content4{
  grid-column: 1/3;
  grid-row: 5/6;
  background: url(ArcaneLogo.jpg);
  opacity: 0.5;
  font-style: italic;
  font-size: 400%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.content5{
  grid-column: 3/5;
  grid-row: 5/6;
  background: url(LolLogo.jpg);
  opacity: 0.5;
  font-style: italic;
  font-size: 400%;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button2{
  opacity: 0;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px 0px;
  text-decoration: none;
  display: flexbox;
  font-size: 100px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.button3{
  opacity: 0;
  border: none;
  width: 100%;
  height: 100%;
  padding: 1px 1px;
  text-decoration: none;
  display: flexbox;
  font-size: 100px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.button2:hover{
  opacity: 1;
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0.1);
}

.button3:hover{
  opacity: 1;
  text-decoration:rgba(255, 255, 255, 1) ;
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0.1);
}

.content6{
  grid-column: 1/5;
  color: white;
  text-align: center;
  font-size: 10px;
}

.content7{
  grid-column: 1/5;
  grid-row: 4/5;
  margin: 0 auto;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: sticky;
}
